@config  "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background: rgb(21 85 105 / var(--tw-bg-opacity));
    border-radius: 0em;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}